settings set target.x86-disassembly-flavor intel

target create "Kernel/kernel.bin.elf"
settings append target.source-map /root .
settings append target.source-map /home/osdev/OS .
settings append target.source-map . Kernel
settings append target.source-map . Kernel/interrupts
settings append target.source-map . Kernel/graphics

command script import utils/lldbmodule.py

gdb-remote 1234
